/*Herança e especificidade*/
/*
p {
    color: blue !important;
}

p {
    color: red;
}*/
/* Se um seletor for mais específico que outro a regra mais específica será aplicada (terá precedência sobre regras gerais)*/

* {
    color: red;
}

h2 {
    color: blue;
}